<!DOCTYPE html>
<html lang="en US">
<head>
    <title>Workout Planner</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header class="header">
        <h1 class="logo">WorkoutApp</h1>
        <a href="/planner"><button class="planner active">Workout Planner</button></a>
        <a href="/progress"><button class="progress">Progress</button></a>
        <a href="/workouts"><button class="workouts">Workouts</button></a>
        <a href="/profile"><button class="profile">Profile</button></a>
    </header>
    <div class="main">
        <a href="/weight"><button class="profile-planner">weight</button></a>
        <a href="/exercises"><button class="profile-planner">exercises</button></a>
    </div>
</body>
</html>
