<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <header class="header">
    <h1 class="logo">WorkoutApp</h1>
    <a href="/planner"><button class="planner">Workout Planner</button></a>
    <a href="/progress"><button class="progress">Progress</button></a>
    <a href="/workouts"><button class="workouts">Workouts</button></a>
    <a href="/profile"><button class="profile">Profile</button></a>
  </header>

  <div class="profile-main">

    <h1>Name: <%=yourname%>
    </h1>
    <h1>Email: <%=youremail%>
    </h1>
    <a href="/changepassword"><button class="changepassword">change password</button></a>
    <a href="/"><button class="logout">Logout</button></a>
  </div>
  <!-- <img src="../public/images/rock.gif" class="profile-pic" alt="theRock"> -->
</body>

</html>
