<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>Workouts</title>
</head>
<body>
    <header class="header">
        <h1 class="logo">WorkoutApp</h1>
        <a  href="/planner"><button class="planner">Workout Planner</button></a>
        <a  href="/progress"><button class="progress">Progress</button></a>
        <a href="/workouts"><button class="workouts">Workouts</button></a>
        <a href="/profile"><button class="profile">Profile</button></a>
    </header>
    <div class="main">
        <h1 style="text-align: center;">Workouts</h1>
        <table style="width: 60%;">
            <thead>
                <tr>
                    <th style="width: 20%;">Name</th>
                    <th style="width: 60%;">Description</th>
                    <th>Calories Burned Per Minute</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Russian Twists</td>
                    <td>Twisting right and left with core engaged in a seated, balanced position</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Plank</td>
                    <td>Holding pushup position with core engaged</td>
                    <td>6</td>
                </tr>
                <tr>
                    <td>Side Plank</td>
                    <td>Balancing on single forearm with body facing one direction</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Stairs</td>
                    <td>Either walking up physical stair or with help from a machine</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Walking</td>
                    <td>Walking outside or on treadmill</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Running</td>
                    <td>Running outside or on treadmill</td>
                    <td>12</td>
                </tr>
                <tr>
                    <td>Biking</td>
                    <td>Biking using real bike or machine</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Tricep Push</td>
                    <td>Pushing weight to activate triceps either with loose weight or cable</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Pushups</td>
                    <td>Pushups on ground</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Bench Press</td>
                    <td>Pressing weight up from chest either with barbell or dumbbell</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Shoulder Press</td>
                    <td>Pressing weight up over head either with barbell or dumbbel</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Dumbbell Row</td>
                    <td>Pulling dumbbell toward body</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Pullups</td>
                    <td>Pulling head over bar while hanging</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Dumbbell Curls</td>
                    <td>Curling dumbbell up to chest</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Dumbbell Raise</td>
                    <td>Raising dumbbell while keeping arms straight</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Wrist Curl</td>
                    <td>Curling dumbbell with wrist activating forearms</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Back Squat</td>
                    <td>Squat with barbell resting across traps</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Front Squat</td>
                    <td>Squat with barbell resting across front of shoulders</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Leg Extension</td>
                    <td>Leg extentions using associated machine</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Hamstring Curl</td>
                    <td>Hamstring Curls using associated machine</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Deadlift</td>
                    <td>Picking up barbell from ground engaging lower back and core</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Lunges</td>
                    <td>Stepping forward or backward and bending low</td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>Calf Raises</td>
                    <td>Raising your heels to target the calf muscles, often done on a raised surface</td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>Leg Press</td>
                    <td>Using a machine to press a weight away with your legs</td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>Step-Ups</td>
                    <td>Stepping onto an elevated surface</td>
                    <td>8</td>
                </tr>
                <tr>
                    <td>Box Jumps</td>
                    <td>Jumping onto a box or platform to work on explosive power</td>
                    <td>10</td>
                </tr>
                <tr>
                    <td>Bulgarian Split Squat</td>
                    <td>Lunging with one foot elevated behind you</td>
                    <td>4</td>
                </tr>
                <!-- Add more rows as needed -->
            </tbody>
        </table>
    </div>
    
    
</body>
</html>